<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoCarousell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>636F67A71DA39FF9006E9164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636F67BB1DA39FF9006E9164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636F67C61DA39FF9006E9164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
